<div class="chart-wrapper">

    <div class="alert alert-primary" role="alert">
        <strong>Datos de la gráfica</strong><br>
        <strong>Punto de acercamiento:</strong> {{datosIniciales.puntoEvaluar}}, 
        <strong>Tipo de gráfica:</strong> {{datosIniciales.tipoGrafica}}, 
        <strong>Intervalo de evaluación:</strong> [{{datosIniciales.intervaloDesde}}, {{datosIniciales.intervaloHasta}}]<br>
        <strong>Función evaluada:</strong> {{fnEvaluada}}
    </div>
    
    <canvas baseChart 
        [datasets]="lineChartData" 
        [labels]="lineChartLabels" 
        [options]="lineChartOptions"
        [colors]="lineChartColors" 
        [legend]="lineChartLegend" 
        [chartType]="lineChartType" 
        [plugins]="lineChartPlugins">
    </canvas>
</div>