<nav class="navbar navbar-light" style="background-color: #007bff;">
  <a class="navbar-brand" style="color: #fff;" href="#">Gráfica de pertenencia</a>
</nav>

<div class="container" style="margin: 5%; padding:0%;">
  <div class="row">
    <div class="col-md-3">
      <app-datos-iniciales (datosGrafica) = 'obtenerDatosGrafica($event)'></app-datos-iniciales>
    </div>

    <div *ngIf='mostrarGrafica' class="col-md-9">
      <app-line-chart [datosIniciales] ='datosGrafica'></app-line-chart>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>