<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">Grafica Pertenencia</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-datos-iniciales (datosGrafica) = 'obtenerDatosGrafica($event)'></app-datos-iniciales>
    </div>

    <div *ngIf='mostrarGrafica' class="col-md-3">
      <app-line-chart [datosIniciales] ='datosIniciales'></app-line-chart>
    </div>

    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>